parameters:
    level: 5
    paths:
        - src
        - tests
    bootstrapFiles:
        - phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false
    parallel:
        maximumNumberOfProcesses: 1
